<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JapanTravelApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> @AppResources.Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guide">
                <span class="bi bi-map" aria-hidden="true"></span> @AppResources.Guide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tours">
                <span class="bi bi-geo-alt" aria-hidden="true"></span> @AppResources.Tours
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wallet">
                <span class="bi bi-wallet2" aria-hidden="true"></span> @AppResources.Wallet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear" aria-hidden="true"></span> @AppResources.Settings
            </NavLink>
        </div>
    </nav>
</div>
